body {
  margin: 0px;
  justify-content: center;
  align-items: center;
  display: flex;
  min-height: 115vh;
  text-align: center;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRb1Ozl71Ai2UVQt392It4Wu2ws33ga52TK-g&usqp=CAU);
  background-size: cover;
}
h1 {
  margin: 0px;
  margin-bottom: .5rem;
}
.input {
  border: 1px solid black;
  border-radius: .5rem;
  padding: .35rem;
  width: 7em;

}
select {
  margin-left: .5rem;
}
.equalTo {
  font-weight: bold;
  font-size: 3rem;
}